name: CI

on: [push, pull_request]

env:
  NUMBA_NUM_THREADS: 1
  MPLBACKEND: Agg
  PYTEST_ADDOPTS: --color=yes

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8"]
        ctapipe-version: ["v0.12.0", ]
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set python version
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
          sed -i -e "s/- python=.*/- python=$PYTHON_VERSION/g" environment.yml

      - name: Create and activate env
        uses: mamba-org/provision-with-micromamba@v14
        with:
          environment-name: lstio
          environment-file: environment.yml
          cache-downloads: true

      - name: Install
        shell: bash -l {0}
        env:
          CTAPIPE_VERSION: ${{ matrix.ctapipe-version }}
        run: |
          # we install ctapipe using pip to be able to select any commit, e.g. the current master
          pip install pytest-cov "git+https://github.com/cta-observatory/ctapipe@$CTAPIPE_VERSION"
          pip install -e .
          git describe --tags

      - name: Download test data
        env:
          TEST_DATA_USER: ${{ secrets.test_data_user }}
          TEST_DATA_PASSWORD: ${{ secrets.test_data_password }}
        run: |
          ./download_test_data.sh

      - name: Tests
        shell: bash -l {0}
        run: |
          # github actions starts a new shell for each "step", so we need to 
          # activate our env again
          pytest --cov=ctapipe_io_lst --cov-report=xml

      - uses: codecov/codecov-action@v1
